<!DOCTYPE html>
<html>

	<head>
	<title>YouTube data refresh</title>
	<style>
	
	table.result,
	table.result th,
	table.result td
	{
		border: 1px #000000 solid;
	}
	table.result th
	{
		font-weight: bold;
	}
	</style>
	</head>

	<body>	
		<h2>YouTube data has been refreshed.</h2>
		<h4>Newly collected "Like" videos: ({{ vNum }} videos)</h4>
		<table class="result">
			<tr>
				<th>Title</th>
				<th>URL</th>
			</tr>
			{% for yt in vList %}
			<tr>
				<td>{{ yt.videoTitle }}</td>
				<td>{{ yt.videoUrl }}</td>
			</tr>
			{% endfor %}
		</table>

		<hr>

		<h4>Newly collected Comments: ({{ commNum }} comments) </h4>
		<table class="result">
			<tr>
				<th>Type</th>
				<th>Comment</th>
				<th>Channel URL</th>
				<th>Video URL</th>
			</tr>
			{% for comm in commList %}
			<tr>
				<td>{% if comm.isReply %}Reply{% else %}Comment{% endif %}</td>
				<td>{{ comm.text }}</td>
				<td>{{ comm.channelUrl }}</td>
				<td>{{ comm.videoUrl }}</td>
			</tr>
			{% endfor %}
		</table>
	</body>
</html>

